//FONTS FAMILY
$inter: "Inter",sans-serif;
$raleway: "Raleway", sans-serif;

//PALETTE
$black: #2b2b2b;
$white: #ffffff;
$primary: blueviolet;
$secondary: #4f4f4f;
$lighter: #ff7070;

//FONT SIZES
$jumbo:3.8em;
$xlarge:3em;
$large:2.4em;
$medium:1.8em;
$small:1.6em;
$xsmall:1.2em;

//OTHER
$sombracolor:rgb(0, 0, 0);
$sombratxt: ('3px 3px 0 $sombracolor, -3px 3px 0 $sombracolor, -3px -3px 0 $sombracolor, 3px -3px 0 b$sombracolorlack');
