.header {
    background-color: rgb(3, 83, 27);
    color: $white; 
    padding: 40px 0;
    }

    .navbar{
        display: flex;
        justify-content:space-between;
        align-items:center;
        &__menu{
            display: flex;
            justify-content:space-between;
            align-items:center;
            gap: 16px;
        }
        &__item{
            padding: .8rem;
            transition: all .3 linear;
            cursor: pointer;
            color: $white;
            &:hover{
                background-color: $white;
                color:$black;
                border-radius: 4px;
            }
        }
    }

    .navbar__logo img{
        width: 8%;
        height: 8%;
    }
